{
    debug   # Enables debug mode for more detailed logging
}

ai.benkalmus.com {
    # running in docker container, should discover openwebui service via docker's dns
    reverse_proxy openwebui:8080 {
        transport http {
                versions h1 h2
        }
    }


    # wake on lan service running on esprimo
    # reverse_proxy /wake/* 11.0.0.3:8000 
    @wake path /wake/*
    reverse_proxy @wake 11.0.0.3:8000
}

wol.benkalmus.com {
    # wake on lan service running on esprimo via wireguard
    reverse_proxy 11.0.0.3:8000
}

n8n.benkalmus.com {
    # running in docker container, should discover openwebui service via docker's dns
    reverse_proxy n8n:5678
}

## =================
## Portfolio Website
## =================
benkalmus.com, www.benkalmus.com {
#     log {
#         output stderr
#         level DEBUG
#         format console
#     }

    # Serve the static homepage
    handle_path /* {
        root * /app
        file_server
        try_files {path} {path}/ /index.html
    }
}

blog.benkalmus.com {
    log {
        output stderr
        level DEBUG
        format console
    }

    # Path to Static Hugo Blog
    handle {
        root * /blog
        file_server
        try_files {path} {path}/ /index.html
    }
}

api.benkalmus.com {

    reverse_proxy /api/email/submit* http://flask-email:5555 {
        transport http {
            versions 1.1
        }
    }
}
