{
    debug   # Enables debug mode for more detailed logging
}

localhost, ai.benkalmus.com {
    # running in docker container, will be discovered via docker's dns
    reverse_proxy openwebui:8080 
    # {
    #     transport http {
    #         versions h1 h2
    #     }
    # }
}

wol.benkalmus.com {
    # wake on lan service running on either my rpi4 or esprimo via wireguard
    reverse_proxy haproxy:8888
}

n8n.benkalmus.com {
    # running in docker container, should discover openwebui service via docker's dns
    reverse_proxy n8n:5678
}

flow.benkalmus.com {
    reverse_proxy flowise:3000
}

## =================
## Portfolio Website
## =================
benkalmus.com, www.benkalmus.com {
     log {
         output stderr
         level DEBUG
         format console
     }
    # Serve the static homepage
    handle_path /* {
        root * /app
        file_server
        try_files {path} {path}/ /index.html
    }
}

blog.benkalmus.com {
    log {
        output stderr
        level DEBUG
        format console
    }

    # Path to Static Hugo Blog
    handle {
        root * /blog
        file_server
        try_files {path} {path}/ /index.html
    }
}

# api.benkalmus.com {
# 
#     reverse_proxy /api/email/submit* http://flask-email:5555 {
#         transport http {
#             versions 1.1
#         }
#     }
#     # TODO: figure why the f this isn't working. add logs to this and flask email app
#     header Access-Control-Allow-Origin "*"
#     header Access-Control-Allow-Methods "POST"
#     header Access-Control-Allow-Headers "Content-Type, Authorization"
# 
#     header /api/* Access-Control-Allow-Origin "https://benkalmus.com"
# }

## =================
## Xray VPN
## =================
pass.benkalmus.com {
    log {
        level DEBUG
    }
    root * /app

    route /ws {
        reverse_proxy xray:2001 {
            header_up Host {host}  # Pass the original Host header
            header_up X-Real-IP {remote_host}  # Pass the real client IP
            header_up X-Forwarded-For {remote_host}  # Another client IP header
            header_up X-Forwarded-Proto {scheme}  # Pass the protocol (http or https)
            header_up X-Forwarded-Port {server_port}  # Add the original port too.
        }
    }

    # keeps path
    handle /sselv {
        reverse_proxy xray:2002 {
            header_up Host {http.request.host}  # Pass the original Host header
        }
    }

    route {
        file_server
    }
}
